.categoryContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #212426;
  color: white;
  padding-top: 180px;
  padding-bottom: 180px;
  height: 1200px;
}
.categoryListContainer {
  padding-left: 30px;
  flex: 1;
}
.categoryList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  gap: 20px;
}

.contentImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contentAnimation {
  position: relative;
  flex: 2;
  overflow: hidden;
  height: 100%;
  background-color: rgb(201, 71, 151);
}

.contentDescription {
  position: absolute;
  bottom: 150px;
  right: 30px;
  word-wrap: break-word;
  background-color: whitesmoke;
  opacity: 0.7;
  width: 300px;
  height: 200px;
  font-weight: 400;
  color: gray;
  margin: auto;
}
