.nav__list {
  cursor: pointer;
  padding: 8px;
  padding-top: 10px;
}
.nav__list:hover,
.nav__list:active {
  color: rgb(48, 47, 47);
  background-color: whitesmoke;
  box-shadow: -1px 3px 13px 2px rgba(224, 88, 88, 0.75);
  -webkit-box-shadow: -1px 3px 13px 2px rgba(224, 88, 88, 0.75);
  -moz-box-shadow: -1px 3px 13px 2px rgba(224, 88, 88, 0.75);
}
